<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
        <%- include ('../partials/popular') %>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>