<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <h1><a href=".">Movie database</a></h1>
    </header>
    <main>
        
        <%- //include ('../partials/searchForm') %>
        <%- include ('../partials/popular') %>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>