<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <h1><a href=".">Movie database</a></h1>
    </header>
    <main>
 <h2>De website is offline</h2>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>