<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
        <%- include ('../partials/goback') %>
 <h2>De website is offline</h2>

    </main>
    <%- include ('../partials/footer') %>
</body>
</html>