<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include ('../partials/searchForm') %>
       
        <h1>Single product pagina</h1>
        <%- include ('../partials/single_product') %>
    </main>
    <footer>
    </footer>
</body>
</html>