* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #dc1E0B;
}
body header {
    box-shadow: 2px 2px 15px black;
    position: relative;
    background-color: darkblue;
    height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header h1 a {
    color: orange;
}

body header h1 {
    font-family: 'Oxygen', sans-serif;
    color: #fff;
}

section.popular .results  {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-color: #fff0;
}

section.popular img{
    width: 100px;
}

.results img {
    width: 100vw;
    height: 100%;
    max-width: 500px;

}